

.logo{
    width: 60px;;
    height: auto;
    
     }

body 
{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serifS;
}


* {
  box-sizing: border-box;
}


.topnav {
  overflow: hidden;
  background-color: #674188;
  padding: 0px 20px;
  width: 100%;
}


.topnav .nisal {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}


.topnav .right {
  float: right;
  display: block;
  color: #aeaeae;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

@media screen and (max-width: 800px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}




.login {
    background-color: #C3ACD0;
    border-radius: 9px;;
    color: #800080;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 7%;
    font-size:small;
    float: right;
    
  }

  @media screen and (max-width: 800px) {
    .login {
      float:none;
      width: 100%;
     
    }
  }
  
  .login:hover {
    opacity: 0.8;
  }

  .signup{
    color:#C3ACD0;
  }
  

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; /
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; */
    border: 1px solid #888;
    width: 80%; 
  }


  .img-text {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .photo,
  .content {
    display: table-cell;
    vertical-align: middle;
  }
  .photo {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .photo img {
    max-width: 100%;
    height: auto;
  }
  .content {
    width: 60%;
    padding: 35px 10px;;
  }

  .maintxt1{
    font-size:400%;
    color: #800080;
  }

  .maintxt2{
    opacity: 0.3;
    font-size: 120%;
  }


.footer{
  color: #f2f2f2;
}


.column {
  float: left;
  width: 50%;
  padding: 100px 0px 0px 0px;
}

.column_full{
  float: left;
  width: 100%;
  padding: 30px 0px;
  
}


.row:after {
  content: "";
  display: table;
  clear: both;
}




@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    text-align: center;
    padding: 0%;
  }
}




.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.services{
  width:100%;
  border-radius: 34px;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}




.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
 
.category{
  color: #f2f2f2;
  font-size: 50px;;
  text-align: center;
}
.numbertext{
  color:white;
}


.space{
  padding:20px 20px;
}

.column.boxes{
  box-shadow: rgba(214, 104, 228, 0.35) 0px 5px 15px;
  padding: 0px 20px;
  height: 300px;;
}

@media screen and (max-width: 900px) {
  .column.boxes {
    width: 100%;
    text-align: left;
    padding: 0%;
  }
}

.servicetxt{
  font-size: 250%;
  color: #800080;
}


.cl{
  color:#929192;
}

.start{
  background-color: #C3ACD0;
  border-radius: 15px;;
  color: #800080;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  height: 50px;
  font-size:x-large;
  font-family:Arial, Helvetica, sans-serif;
}


.start:hover {
  opacity: 0.8;
  color: rgb(255, 255, 255);
  background-color: #800080;
}

.logo.foot {
  float:right;
  vertical-align: middle;
}